##### Importando as bibliotecas

In [3]:
import pandas as pd
import pyautogui as pag
import win32com.client as win32
import pathlib
import functions as fn

##### Lendo a base de dados

In [4]:
caminho_base_vendas = r'C:\000 - Arquivos\Educação\Habilidades e Treinamentos\Hashtag Treinamentos\Python\Projetos Finais\python_projeto_final_1_rpa_automacao_pyautogui\data\sales.xlsx'
base_vendas = pd.read_excel(caminho_base_vendas)
display (base_vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,1,Sapato Estampa,1,358,358
1,1,2019-01-01,1,Camiseta,2,180,360
2,1,2019-01-01,1,Sapato Xadrez,1,368,368
3,2,2019-01-02,3,Relógio,3,200,600
4,2,2019-01-02,3,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
100994,69996,2019-12-26,17,Short Listrado,2,102,204
100995,69996,2019-12-26,17,Mochila,4,270,1080
100996,69996,2019-12-26,17,Pulseira Estampa,1,87,87
100997,69997,2019-12-26,11,Camisa Listrado,1,108,108
100998,69997,2019-12-26,11,Short Linho,2,133,266

##### Criando os indicadores

In [6]:
faturamento_2019 = base_vendas['Valor Final'].sum()
faturamento_2019_medio = faturamento_2019 / 12
vendas_total = base_vendas['Quantidade'].sum()

faturamento_2019 = fn.conversao_real(faturamento_2019)
faturamento_2019_medio = fn.conversao_real(faturamento_2019_medio)
vendas_total = fn.conversao_numero(vendas_total)

print(f'O faturamento total do ano de 2019 foi de R$ {faturamento_2019}.')
print(f'O faturamento médio do ano de 2019 foi de R$ {faturamento_2019_medio}.')
print(f'O total de vendas do ano de 2019 foi de {vendas_total} vendas.')

O faturamento total do ano de 2019 foi de R$ 41.877.063,00.
O faturamento médio do ano de 2019 foi de R$ 3.489.755,25.
O total de vendas do ano de 2019 foi de 218.688 vendas.